<div class="app-about-view">
  <section class="hero is-success is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Smart-Order</h1>
        <h2 class="subtitle">Une gestion sécurisée des ordonnances</h2>
      </div>
    </div>
  </section>
  <br>
  <section class="section">
    <div class="container">
      <h1 class="title">Résumé</h1>
      <h1 class="title is-4 help">Smart-Order à pour objectif de proposer un gestion sécurisée des ordonnances.<br/>
      Pour ce faire la technologie de la blockchain est utilisée afin de garantir une inviolabilité du secret médical mais
      également l'impossiblité de frauder.<br/><br/>

      Pour tout informations complémentaire vous pouvez lire les articles suivants :<br/>
      // TODO<br/><br/>
      Ou également consulter notre code source :<br/>
       <a href="https://github.com/scub-france/smart-order">scub-france : smart-order</a>
      </h1>
    </div>
  </section>
</div>
