version: '3.2'
services:
  core-contract:
    build: ./core-contract
    volumes:
      - ./core-contract:/usr/src/app
    environment:
      - ETHEREUM_PROVIDER=http://localhost:8545
    ports:
      - "8546:8545"

  ethereum-bridge:
    build: ./ethereum-bridge
    volumes:
      - ./ethereum-bridge/startup:/usr/src/startup
    environment:
      - ETHEREUM_BRIDGE_COMMIT=9c40a36
    command: ["/usr/src/startup/wait-for-it.sh",
     "core-contract", "8545",
      "node /usr/src/app/ethereum-bridge/bridge -H core-contract:8545 -a 1"]
    depends_on:
      - "core-contract"

  client-demo:
    build: ./client-demo
    environment:
      - ANGULAR_CLI_ENV=rec
    volumes:
      - ./client-demo:/usr/src/app
    ports:
      - "4200:4200"